body {
    padding: 0;
    margin: 0;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

main {
    display: block;
}

#to-do-list {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

p {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    font-size: 40px;
}

.to-do-input {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

button {
    background: none;
    border: none;
    vertical-align: middle;
    display: none;
}

.buttons {
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
}

.to-do-element {
    display: grid;
    width: 600px;
    grid-template-columns: 1fr 200px;
    margin: 0;
    padding: 0;
}

.text-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    border-bottom: 2px grey solid;
}

.to-do-text {
    min-width: 0;
    word-wrap: break-word;
}

.index-wrapper {
    cursor: move;
}

.to-do-creator .to-do-input {
    display: inline;
}

.to-do-creator:hover .add-button {
    display: inline;
}